<aside class="col-xs-12 col-md-3 logo">
    <div id="MainMenu">
        <div class="list-group panel">            
            <a href="help.html" class="list-group-item list-group-item-success active" data-toggle="collapse" data-parent="#MainMenu">Help</a>
            <a href="#" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">FAQ</a>
            <a href="#" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Contacts</a>
            <a href="#" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Another Link</a>
        </div>
    </div>
</aside>